.env
node_modules
./configure/dbConfigserviceAccountKey.json
.DS_Store
migrations/
run_migration.js
db_query.js
add_created_by.js
migrate_mt_priority.js
migrate_mt_workspaces.js
migrate_task_priority.js
migrate_ws.js
add_priority_to_tasks.js
